* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Kumbh Sans;
    background-color: #e6dace;



}


a {
    text-decoration: none;
}



ol,
ul,
li {
    list-style: none;
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

.container {
    max-width: 1280px;
    margin-inline: auto;
    margin-top: 24px;
    /* margin-inline: 18px; */
}

.header {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    line-height: 26px;

    h2 {
        color: black;
        font-weight: 800;

        span {
            color: black;
            font-weight: 500;
            font-size: 18px
        }
    }
}

.header-navBar {
    display: none;
    gap: 15px;

    a {
        color: black;
        font-weight: 400;
        text-transform: uppercase;

    }

}

.header-navBar a:active {
    color: blue
}

.header-hamburgerBar {
    display: block;
}

.background-Font {

    margin-top: 32px;
    background-color: #e6dace;
}

.hero {
    margin-top: 64px;
    /* padding: 50px 430px; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding-inline: 25px;


}

.hero-left {


    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-inline: auto;
    }


}

.hero-leftFirst {
    background-color: #f4ece6;
    padding: 34px 56px;
    border-radius: 5px 5px 0px 0px;


    h2 {
        text-align: center;
        padding-top: 24px;
    }

    h3 {
        font-weight: 400;
        padding-top: 24px;
        text-align: center;
    }
}

.hero-leftSecond {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;



}


.hero-right {

    h1 {

        margin-top: 40px;
        font-size: 75px;
    }

    p {
        padding-top: 46px;
    }
}

.hero-rightButtons {

    padding-top: 24px;

    a {

        padding: 9px 25px;
        background-color: #fff;
        border-radius: 20px;
        text-transform: uppercase;

    }
}

/* MOBIL VERSION */

@media (width >=427px) {

    .header-navBar {
        display: flex;
    }

    .header-hamburgerBar {
        display: none;
    }

    .hero {
        margin-top: 64px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 30px;
        padding-inline: 125px;

    }

}